<!-- ==hero== -->
<section class="section section-hero">
  <div class="container">
    <div class="hero-description">
      <h2 class="hero-title">CUCINA DI CATHERINA</h2>
      <p class="hero-text">We know, you will love our product</p>
    </div>
    <picture class="hero-picture"></picture>
    <img src="" alt="" class="hero-bg-img" />
    <button class="hero-btn">Buy now</button>
    <ul class="hero-fact-list">
      <li class="hero-fact-item">
        <p class="hero-fact-number">14</p>
        <p class="hero-fact-text">different tastes</p>
      </li>
      <li class="hero-fact-item">
        <p class="hero-fact-number">31</p>
        <p class="hero-fact-text">factories around the world</p>
      </li>
    </ul>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a href=""><svg></svg></a>
      </li>
      <li class="hero-social-item">
        <a href=""><svg></svg></a>
      </li>
      <li class="hero-social-item">
        <a href=""><svg></svg></a>
      </li>
      <li class="hero-social-item">
        <a href=""><svg></svg></a>
      </li>
    </ul>
  </div>
</section>
